{% extends 'base.html.twig' %}

{% block title %}{{ 'text.prenom.nom'|trans }} - {{ 'title.curriculum'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('curriculum') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('curriculum') }}

    {{ encore_entry_script_tags('me360') }}
{% endblock %}

{% block content %}
    <div id="me" class="bg-binary overflow-x-hidden">
        <div class="sd-rubrique clearfix text-white">
            <div class="row p-4">
                <div class="col-sm-12 col-md-6 col-lg-3 p-3 text-center">
                    <div class="rounded-animation animation-element from-bottom">
                        <div id="me360_animation_container">
                            <canvas id="me360_canvas"></canvas>
                            <div id="me360_dom_overlay_container"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-9 p-2 text-justify">
                    <div class="sd-section-title text-white text-center animation-element from-bottom">
                        &lt;{{ 'text.prenom.nom'|trans }} /&gt;
                    </div>

                    <div class="row row-infos animation-element from-bottom m-2 p-2">
                        <div class="col-md-12 col-lg-6 p-2">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="birthday-cake" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-birthday-cake fa-w-14 fa-1x mr-1"><g class="fa-group"><path fill="currentColor" d="M373.5 384c-28 0-31.39 32-74.75 32-43.55 0-46.6-32-74.75-32-27.28 0-31.66 32-74.5 32-43.5 0-46.8-32-74.75-32S43.36 416 0 416v96h448v-96c-43.25 0-47-32-74.5-32zM96 96c17.75 0 32-13.5 32-40S108 0 96 0c0 41-32 33-32 64a31.9 31.9 0 0 0 32 32zm128 0c17.75 0 32-13.5 32-40S236 0 224 0c0 41-32 33-32 64a31.9 31.9 0 0 0 32 32zm128 0c17.75 0 32-13.5 32-40S364 0 352 0c0 41-32 33-32 64a31.9 31.9 0 0 0 32 32z" class="fa-secondary"></path><path fill="currentColor" d="M448 384c-28 0-31.26-32-74.5-32-43.43 0-46.83 32-74.75 32-27.7 0-31.45-32-74.75-32-42.84 0-47.22 32-74.5 32-28.15 0-31.2-32-74.75-32S28.1 384 0 384v-80a48 48 0 0 1 48-48h16V112h64v144h64V112h64v144h64V112h64v144h16a48 48 0 0 1 48 48z" class="fa-primary"></path></g></svg>
                            : {{ 'text.date.naissance'|trans }}
                        </div>
                        <div class="col-md-12 col-lg-6 p-2">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="globe-europe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-globe-europe fa-w-16 fa-1x mr-1"><g class="fa-group"><path fill="currentColor" d="M487.54,320.4H438.9a15.8,15.8,0,0,1-11.4-4.8l-32-32.6a11.92,11.92,0,0,1,.1-16.7l12.5-12.5v-8.7a11.37,11.37,0,0,0-3.3-8l-9.4-9.4a11.37,11.37,0,0,0-8-3.3h-16a11.31,11.31,0,0,1-8-19.3l9.4-9.4a11.37,11.37,0,0,1,8-3.3h32a11.35,11.35,0,0,0,11.3-11.3v-9.4a11.35,11.35,0,0,0-11.3-11.3H376.1a16,16,0,0,0-16,16v4.5a16,16,0,0,1-10.9,15.2l-31.6,10.5a8,8,0,0,0-5.5,7.6v2.2a8,8,0,0,1-8,8h-16a8,8,0,0,1-8-8,8,8,0,0,0-8-8H269a8.14,8.14,0,0,0-7.2,4.4l-9.4,18.7a15.94,15.94,0,0,1-14.3,8.8H216a16,16,0,0,1-16-16V199a16,16,0,0,1,4.7-11.3l20.1-20.1a24.77,24.77,0,0,0,7.2-17.5,8,8,0,0,1,5.5-7.6l40-13.3a11.66,11.66,0,0,0,4.4-2.7l26.8-26.8a11.31,11.31,0,0,0-8-19.3H280l-16,16v8a8,8,0,0,1-8,8H240a8,8,0,0,1-8-8v-20a8.05,8.05,0,0,1,3.2-6.4l82.42-60.08A247.79,247.79,0,0,0,248,8C111,8,0,119,0,256S111,504,248,504a251.57,251.57,0,0,0,32.1-2.06V448.4a16,16,0,0,0-16-16H243.9c-10.8,0-26.7-5.3-35.4-11.8l-22.2-16.7a45.42,45.42,0,0,1-18.2-36.4V343.6a45.46,45.46,0,0,1,22.1-39l42.9-25.7a46.13,46.13,0,0,1,23.4-6.5h31.2a45.62,45.62,0,0,1,29.6,10.9l43.2,37.1h18.3a32,32,0,0,1,22.6,9.4l17.3,17.3.08.08C432,359.06,440,375.62,440,393.37V413A247.11,247.11,0,0,0,487.54,320.4ZM187.4,157.1a11.37,11.37,0,0,1-8,3.3h-16a11.31,11.31,0,0,1-8-19.3l25.4-25.4a11.31,11.31,0,0,1,19.3,8v16a11.37,11.37,0,0,1-3.3,8Z" class="fa-secondary"></path><path fill="currentColor" d="M187.4,157.1l9.4-9.4a11.37,11.37,0,0,0,3.3-8v-16a11.31,11.31,0,0,0-19.3-8l-25.4,25.4a11.31,11.31,0,0,0,8,19.3h16A11.37,11.37,0,0,0,187.4,157.1ZM418.78,347.18l-.08-.08-17.3-17.3a32,32,0,0,0-22.6-9.4H360.5l-43.2-37.1a45.62,45.62,0,0,0-29.6-10.9H256.5a46.13,46.13,0,0,0-23.4,6.5l-42.9,25.7a45.46,45.46,0,0,0-22.1,39v23.9a45.42,45.42,0,0,0,18.2,36.4l22.2,16.7c8.7,6.5,24.6,11.8,35.4,11.8h20.2a16,16,0,0,1,16,16v53.54A247.57,247.57,0,0,0,440,413V393.37C440,375.62,432,359.06,418.78,347.18ZM317.62,17.92,235.2,78a8.05,8.05,0,0,0-3.2,6.4v20a8,8,0,0,0,8,8h16a8,8,0,0,0,8-8v-8l16-16h20.7a11.31,11.31,0,0,1,8,19.3l-26.8,26.8a11.66,11.66,0,0,1-4.4,2.7l-40,13.3a8,8,0,0,0-5.5,7.6,24.77,24.77,0,0,1-7.2,17.5l-20.1,20.1A16,16,0,0,0,200,199v25.3a16,16,0,0,0,16,16h22.1a15.94,15.94,0,0,0,14.3-8.8l9.4-18.7a8.14,8.14,0,0,1,7.2-4.4h3.1a8,8,0,0,1,8,8,8,8,0,0,0,8,8h16a8,8,0,0,0,8-8v-2.2a8,8,0,0,1,5.5-7.6l31.6-10.5a16,16,0,0,0,10.9-15.2v-4.5a16,16,0,0,1,16-16h36.7a11.35,11.35,0,0,1,11.3,11.3v9.4a11.35,11.35,0,0,1-11.3,11.3h-32a11.37,11.37,0,0,0-8,3.3l-9.4,9.4a11.31,11.31,0,0,0,8,19.3h16a11.37,11.37,0,0,1,8,3.3l9.4,9.4a11.37,11.37,0,0,1,3.3,8v8.7l-12.5,12.5a11.92,11.92,0,0,0-.1,16.7l32,32.6a15.8,15.8,0,0,0,11.4,4.8h48.64A248.29,248.29,0,0,0,496,256C496,143.18,420.71,48,317.62,17.92Z" class="fa-primary"></path></g></svg>
                            : <a href="http://sdeparte.com/" class="underline">http://sdeparte.com/</a>
                        </div>
                        <div class="col-md-12 col-lg-6 p-2">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="envelope-open-text" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope-open-text fa-w-16 fa-1x mr-1"><g class="fa-group"><path fill="currentColor" d="M64,257.6,227.9,376a47.72,47.72,0,0,0,56.2,0L448,257.6V96a32,32,0,0,0-32-32H96A32,32,0,0,0,64,96ZM160,160a16,16,0,0,1,16-16H336a16,16,0,0,1,16,16v16a16,16,0,0,1-16,16H176a16,16,0,0,1-16-16Zm0,80a16,16,0,0,1,16-16H336a16,16,0,0,1,16,16v16a16,16,0,0,1-16,16H176a16,16,0,0,1-16-16Z" class="fa-secondary"></path><path fill="currentColor" d="M352,160a16,16,0,0,0-16-16H176a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16H336a16,16,0,0,0,16-16Zm-16,64H176a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16H336a16,16,0,0,0,16-16V240A16,16,0,0,0,336,224ZM329.4,41.4C312.6,29.2,279.2-.3,256,0c-23.2-.3-56.6,29.2-73.4,41.4L152,64H360ZM64,129c-23.9,17.7-42.7,31.6-45.6,34A48,48,0,0,0,0,200.7v10.7l64,46.2Zm429.6,34c-2.9-2.3-21.7-16.3-45.6-33.9V257.6l64-46.2V200.7A48,48,0,0,0,493.6,163ZM256,417.1a80,80,0,0,1-46.9-15.2L0,250.9V464a48,48,0,0,0,48,48H464a48,48,0,0,0,48-48V250.9l-209.1,151A80,80,0,0,1,256,417.1Z" class="fa-primary"></path></g></svg>
                            : <a href="mailto:sylvain.departe@gmail.com" class="underline">sylvain.departe@gmail.com</a>
                        </div>
                        <div class="col-md-12 col-lg-6 p-2">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="phone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-phone-alt fa-w-16 fa-1x mr-1"><g class="fa-group"><path fill="currentColor" d="M191.18 154.51a23.9 23.9 0 0 0 6.91-28l-48-112a24.16 24.16 0 0 0-27.5-13.9L106 4.43l69.73 162.69zm153.6 181.62l162.81 69.77 3.8-16.49a24.3 24.3 0 0 0-14-27.61l-112-48a24 24 0 0 0-28 6.91zM0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.59l12.89-55.82-176.61-75.69-15.88 19.4a370.59 370.59 0 0 1-177.21-177.2L150 188.23 74.34 11.74 18.59 24.61A24 24 0 0 0 0 48z" class="fa-secondary"></path><path fill="currentColor" d="M74.34 11.74L150 188.23l25.79-21.11L106 4.43zm270.44 324.39l-21.1 25.77 176.6 75.69 7.31-31.69z" class="fa-primary"></path></g></svg>
                            : <a href="tel:+33652420401" class="underline">+33 (0)6 52 42 04 01</a>
                        </div>
                    </div>

                    <div class="row p-4 animation-element from-bottom">
                        <p>{{ 'text.description.p1'|trans }}</p>
                        <p>{{ 'text.description.p2'|trans }}</p>
                        <p>{{ 'text.description.p3'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sprite large shadow-top bg-white"></div>

    <div id="cursus">
        <div class="sprite reverse shadow-top bg-white"></div>
        <div class="clearfix sd-rubrique bg-white overflow-x-hidden">
            <div id="timeline" class="animation-element from-bottom">
                <div class="timeline-item timeline-small clearfix">
                    <div class="timeline-icon"></div>

                    <div class="d-none d-md-block timeline-title">
                        <div class="pt-4 sd-section-title text-center animation-element from-left">
                            &lt;{{ 'title.etudes'|trans }} /&gt;
                        </div>

                        <div class="pt-4 right sd-section-title text-center animation-element from-right">
                            &lt;{{ 'title.experiences'|trans }} /&gt;
                        </div>
                    </div>

                    <div class="d-block d-md-none timeline-title">
                        <div class="pt-4 sd-section-title text-center animation-element from-left">
                            &lt;{{ 'title.etudes.experiences'|trans }} /&gt;
                        </div>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon">
                        <div class="timeline-date">
                            <div class="timeline-date-top">2020</div>
                            <div class="timeline-date-bottom">2019</div>
                        </div>
                    </div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.premiere.pro.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.moirans'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.premiere.pro.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.premiere.pro.description'|trans }}</p>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.auto.entrepreneur.prowebce.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.monestier.de.clermont'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.auto.entrepreneur.prowebce.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.auto.entrepreneur.prowebce.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">2018</div>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.prowebce.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.saint.martin.d.heres'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.prowebce.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.prowebce.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">2017</div>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.ausy.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.montbonnot.saint.martin'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.ausy.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.ausy.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">
                            <div class="timeline-date-top">2014</div>
                            <div class="timeline-date-bottom">2013</div>
                        </div>
                    </div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.sst.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.grenoble'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.sst.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.sst.description'|trans }}</p>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.alprobotic.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.le.versoud'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.alprobotic.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.alprobotic.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item timeline-small clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date"></div>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.japan.culture.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.vizille'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.japan.culture.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.japan.culture.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">2012</div>
                    </div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.cqpm.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.ujf.grenoble'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.cqpm.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.cqpm.description'|trans }}</p>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.trixell.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.moirans'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.trixell.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.trixell.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item timeline-small clearfix">
                    <div class="timeline-icon animation-element from-bottom"></div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.licence.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.ujf.grenoble'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.licence.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.licence.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">
                            <div class="timeline-date-top">2011</div>
                            <div class="timeline-date-bottom">2010</div>
                        </div>
                    </div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.bts.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.lgm.meylan'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.bts.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.bts.description'|trans }}</p>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.com6.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.seyssinet.pariset'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.com6.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.com6.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">
                            <div class="timeline-date-top">2009</div>
                            <div class="timeline-date-bottom">2007</div>
                        </div>
                    </div>
                    <div class="timeline-content animation-element from-left">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-graduate" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-graduate fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M351.75 168a128 128 0 0 1-255.5 0z" class="fa-secondary"></path><path fill="currentColor" d="M13.6 79.83l6.4 1.5v58.4c-7 4.19-12 11.5-12 20.27 0 8.4 4.6 15.4 11.1 19.71L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.27C51.4 175.42 56 168.42 56 160c0-8.79-5-16.1-12-20.29V87.12l52 12.53V136h256V99.65l82.3-19.82c18.2-4.41 18.2-27.1 0-31.5l-190.4-46a85.9 85.9 0 0 0-39.7 0L13.6 48.23c-18.1 4.39-18.1 27.19 0 31.6zm305.8 240.79L224 416l-95.4-95.4C57.1 323.73 0 382.23 0 454.42V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-9.6c0-72.17-57.1-130.67-128.6-133.78z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.bac.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.lte.vizille'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.bac.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.bac.description'|trans }}</p>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.sever.system.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.grenoble'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.sever.system.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.sever.system.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item clearfix">
                    <div class="timeline-icon animation-element from-bottom">
                        <div class="timeline-date">2005</div>
                    </div>
                    <div class="timeline-content right animation-element from-right">
                        <div class="sd-circle float-left m-2 mr-4">
                            <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-user-tie fa-w-14 fa-4x"><g class="fa-group"><path fill="currentColor" d="M191.35 414.77L208 344l-32-56h96l-32 56 16.65 70.77L224 480zM224 256A128 128 0 1 0 96 128a128 128 0 0 0 128 128z" class="fa-secondary"></path><path fill="currentColor" d="M319.8 288.6L224 480l-95.8-191.4C56.9 292 0 350.3 0 422.4V464a48 48 0 0 0 48 48h352a48 48 0 0 0 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z" class="fa-primary"></path></g></svg>
                        </div>
                        <div class="sd-title">
                            <h5>{{ 'texte.afpa.title'|trans }}</h5>
                            <span class="sd-subtitle">{{ 'texte.pont.de.claix'|trans }}</span>
                            <span class="sd-subtitle float-right">{{ 'texte.afpa.dates'|trans }}</span>
                        </div>
                        <p class="pl-3 pr-3 text-justify">{{ 'texte.afpa.description'|trans }}</p>
                    </div>
                </div>

                <div class="timeline-item timeline-small clearfix">
                    <div class="timeline-icon"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="skills">
        <div class="sprite reverse shadow-top bg-flat"></div>
        <div class="sd-rubrique clearfix bg-flat text-white overflow-x-hidden">
            <div class="pt-4 sd-section-title text-white text-center animation-element from-bottom">
                &lt;{{ 'title.competences'|trans }} /&gt;
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 single-chart animation-element from-right delay-2">
                    <svg viewBox="0 0 36 36" class="circular-chart">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="90, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">90%</text>
                    </svg>
                    <div class="chart-title">{{ 'texte.dev.web'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 single-chart animation-element from-right delay-3">
                    <svg viewBox="0 0 36 36" class="circular-chart">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="80, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">80%</text>
                    </svg>
                    <div class="chart-title">{{ 'texte.dev.bureautique'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 single-chart animation-element from-right delay-4">
                    <svg viewBox="0 0 36 36" class="circular-chart">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">60%</text>
                    </svg>
                    <div class="chart-title">{{ 'texte.dev.mobile'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 single-chart animation-element from-right delay-5">
                    <svg viewBox="0 0 36 36" class="circular-chart">
                        <path class="circle-bg" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                        <text x="18" y="20.35" class="percentage">60%</text>
                    </svg>
                    <div class="chart-title">{{ 'texte.graphisme'|trans }}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="hobbies">
        <div class="sprite shadow-top bg-flater"></div>
        <div class="sd-rubrique clearfix p-4 bg-flater text-white overflow-x-hidden">
            <div class="pt-4 sd-section-title text-white text-center animation-element from-bottom">
                &lt;{{ 'title.hobbys'|trans }} /&gt;
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 p-2 rounded-img text-center animation-element from-right delay-2">
                    <img src="{{ asset('hobbies/info.jpg') }}" alt="">
                    <div class="rounded-img-title">{{ 'texte.informatique.dev'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 p-2 rounded-img text-center animation-element from-right delay-3">
                    <img src="{{ asset('hobbies/fitness.jpg') }}" alt="">
                    <div class="rounded-img-title">{{ 'texte.muscu.fitness'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 p-2 rounded-img text-center animation-element from-right delay-4">
                    <img src="{{ asset('hobbies/mangas.jpg') }}" alt="">
                    <div class="rounded-img-title">{{ 'texte.manga.japon'|trans }}</div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 p-2 rounded-img text-center animation-element from-right delay-5">
                    <img src="{{ asset('hobbies/photo.jpg') }}" alt="">
                    <div class="rounded-img-title">{{ 'texte.photographie'|trans }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
