{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('homepage') }}
    {{ encore_entry_script_tags('computer') }}
    {{ encore_entry_script_tags('smartphone') }}

    <script type="text/javascript">
        var variables = ['{{ 'home.idees'|trans }}', '{{ 'home.envies'|trans }}', '{{ 'home.reves'|trans }}', '{{ 'home.besoins'|trans }}', '{{ 'home.projets'|trans }}'];
        var current = '{{ 'home.idees'|trans }}';
    </script>
{% endblock %}

{% block content %}
    <div id="slider" class="bg-binary">
        <div class="sd-rubrique">
            <div class="animation-element from-left">
                <div class="sd-circle mb-2">
                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="code" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-code fa-w-20 fa-2x"><g class="fa-group"><path fill="currentColor" d="M422.12 18.16a12 12 0 0 1 8.2 14.9l-136.5 470.2a12 12 0 0 1-14.89 8.2l-61-17.7a12 12 0 0 1-8.2-14.9l136.5-470.2a12 12 0 0 1 14.89-8.2z" class="fa-secondary"></path><path fill="currentColor" d="M636.23 247.26l-144.11-135.2a12.11 12.11 0 0 0-17 .5L431.62 159a12 12 0 0 0 .81 17.2L523 256l-90.59 79.7a11.92 11.92 0 0 0-.81 17.2l43.5 46.4a12 12 0 0 0 17 .6l144.11-135.1a11.94 11.94 0 0 0 .02-17.54zm-427.8-88.2l-43.5-46.4a12 12 0 0 0-17-.5l-144.11 135a11.94 11.94 0 0 0 0 17.5l144.11 135.1a11.92 11.92 0 0 0 17-.5l43.5-46.4a12 12 0 0 0-.81-17.2L117 256l90.6-79.7a11.92 11.92 0 0 0 .83-17.24z" class="fa-primary"></path></g></svg>
                </div>
                <div class="sd-header">
                    {{ 'home.developpeur'|trans }}<br />{{ 'home.de.vos'|trans }}&nbsp;<span class="variable">{{ 'home.idees'|trans }}</span>
                </div>
            </div>
        </div>
    </div>

    <div id="header" class="bg-gray">
        <div class="sprite large shadow-top bg-gray"></div>
        <div class="clearfix">
            <div id="computer_animation_handler" class="responsive-animation animation-element from-bottom wait-load">
                <div id="computer_global_container" data-animation-handler="computer_animation_handler" data-related-to="computer_animation_container">
                    <div id="computer_animation_container">
                        <canvas id="computer_canvas"></canvas>
                        <div id="computer_dom_overlay_container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="presentation">
        <div class="sprite xlarge reverse shadow-top bg-white"></div>

        <div class="sd-rubrique clearfix bg-white">
            <div id="smartphone_animation_handler" class="responsive-animation animation-element from-left wait-load">
                <div id="smartphone_global_container" data-animation-handler="smartphone_animation_handler">
                    <div id="smartphone_animation_container">
                        <canvas id="smartphone_canvas"></canvas>
                        <div id="smartphone_dom_overlay_container"></div>
                    </div>
                </div>
            </div>

            <div class="overflow-hidden p-5">
                <div class="animation-element from-right">
                    <div class="pt-4 sd-section-title text-center">
                        &lt;{{ 'title.presentation'|trans }} /&gt;
                    </div>
                    <p>
                        Sylvain DEPARTE, diplômé d’un BTS IRIS (Informatique et Réseau pour les Industries et les Services) et d'une Licence Professionnelle (en alternance) spécialisé dans la programmation des « Systèmes Embarqués ».
                        Actuellement en poste au sein de la société ALPROBOTIC en tant que informaticien industriel depuis 2013.
                    </p>

                    <p>
                        Je suis passionné par le développement et le design informatique.
                        J’ai donc suivi une formation très orientée sur la programmation, qui m'a permis de connaitre une grande variété de langages de programmations (C, C++, C#.NET, VB.NET, Java, Basic, Html, Css, PHP, JavaScript, ActionScript, etc.).
                        Ces formations m’ont amené à réaliser de nombreux projets tel que des applications bureautiques, embarquées (sous Android) et des sites internet.
                        De plus, mon expérience professionnelle acquise en entreprise me permet de réaliser des projets complexes dans leurs globalités : depuis la définition des besoins du clients jusqu’aux tests finaux, en passant bien entendu par sa création et son développement.
                    </p>

                    <p>
                        En parallèle à mes études et ma vie professionnel, j’ai réalisé sur mon temps libre de nombreux logiciels, sites internet et créations graphiques.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-flat bg-binary bg-bottom">
        <div class="sd-ciel-inner"></div>

        <div id="technologies" class="l-home-plugins js-plugin-blocks-container">
            <div class="l-home-plugins__sprite">
            </div>
            <div class="l-home-plugins__outer">
                <div class="l-home-plugins__inner">
                    <div class="l-home-plugins__heading sd-incline">
                        <div class="animation-element from-bottom">
                            <div class="sd-section-title">
                                &lt;{{ 'title.technologies'|trans }} /&gt;
                            </div>
                            <a href="technologies.html" class="sd-button sd-button-default">
                                <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18 fa-1-5x"><g class="fa-group"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288.14 400H288a143.93 143.93 0 1 1 .14 0z" class="fa-secondary"></path><path fill="currentColor" d="M380.66 280.87a95.78 95.78 0 1 1-184.87-50.18 47.85 47.85 0 0 0 66.9-66.9 95.3 95.3 0 0 1 118 117.08z" class="fa-primary"></path></g></svg>
                                {{ 'btn.en.savoir.plus'|trans }}
                            </a>
                        </div>
                    </div>
                    <div class="l-home-plugins__blocks-col l-home-plugins__blocks-col--1">
                        <div class="l-home-plugins__block l-home-plugins__block1 js-plugin-block" data-intensity="2">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/windows.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="l-home-plugins__block l-home-plugins__block2 js-plugin-block" data-intensity="2.5">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/dot-net.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-home-plugins__blocks-col l-home-plugins__blocks-col--2">
                        <div class="l-home-plugins__block l-home-plugins__block3 js-plugin-block" data-intensity="1.5">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/android.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="l-home-plugins__block l-home-plugins__block4 js-plugin-block" data-intensity="2">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/mysql.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-home-plugins__blocks-col l-home-plugins__blocks-col--3">
                        <div class="l-home-plugins__block l-home-plugins__block5 js-plugin-block" data-intensity="1.5">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/flutter.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="l-home-plugins__block l-home-plugins__block6 js-plugin-block" data-intensity="1.5">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/php.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-home-plugins__blocks-col l-home-plugins__blocks-col--4">
                        <div class="l-home-plugins__block l-home-plugins__block7 js-plugin-block" data-intensity="2.25">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/apple.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="l-home-plugins__block l-home-plugins__block8 js-plugin-block" data-intensity="1.5">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/symfony.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-home-plugins__blocks-col l-home-plugins__blocks-col--5">
                        <div class="l-home-plugins__block l-home-plugins__block9 js-plugin-block" data-intensity="1.75">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/linux.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="l-home-plugins__block l-home-plugins__block10 js-plugin-block" data-intensity="1.75">
                            <div class="plugin-block ">
                                <div class="plugin-block__shadow"></div>
                                <div class="plugin-block__inner">
                                    <img src="{{ asset('imgs/java.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sd-ciel-outer"></div>
    </div>

    <div id="realisations">
        <div class="sd-rubrique overflow-hidden bg-white">
            <div class="animation-element from-bottom">
                <div class="pt-4 sd-section-title text-center">
                    &lt;{{ 'title.realisations'|trans }} /&gt;
                </div>
                <div class="row sd-section">
                    {% for bigType in listBigTypes %}
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <div class="sd-circle float-left m-2 mr-4">
                                    {{ bigType.svg.svgHtml|raw }}
                                </div>
                                <div class="sd-title">
                                    <h5>
                                        {{ bigType.titleKey|trans }}
                                    </h5>
                                </div>

                                <a href="{{ path('realisations') }}" class="sd-button sd-button-default float-right">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18 fa-1-5x"><g class="fa-group"><path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288.14 400H288a143.93 143.93 0 1 1 .14 0z" class="fa-secondary"></path><path fill="currentColor" d="M380.66 280.87a95.78 95.78 0 1 1-184.87-50.18 47.85 47.85 0 0 0 66.9-66.9 95.3 95.3 0 0 1 118 117.08z" class="fa-primary"></path></g></svg>
                                    {{ 'btn.voir.les.realisations'|trans }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
