{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('realisations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('realisations') }}
{% endblock %}

{% block content %}
    {% include 'ariane.html.twig' with {'titles': {'languages': 'title.languages.de.developpements'|trans, 'environnements': 'title.environnements.systemes.expoitations'|trans }} %}

    <div class="100-vh bg-white clearfix">
        <div class="list-realisations">
            {% for creation in listCreations %}
                <div class="one-realisation" id="creation-{{ creation.id }}" data-target="{{ creation.id }}" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                    <span data-color="#e3544a" style="background-color:{{ creation.backgroundColor }}">
                        <div class="inner {{ creation.hoverColor }}">
                            <span class="realisation-type" style="color:{{ creation.color }}">
                                {% for svg in creation.type.svgs %}
                                    {{ svg.svgHtml|raw }}
                                {% endfor %}
                                {{ creation.type.titleKey|trans }}
                            </span>
                            <h3 class="realisation-name" style="color:{{ creation.color }}">
                                {{ creation.titleKey|trans }}
                            </h3>
                            <p class="realisation-intro" style="color:{{ creation.color }}">
                                {{ creation.subTitleKey|trans }}
                            </p>
                        </div>
                        <div class="realisation-color" style="background-color:{{ creation.backgroundColor }}"></div>
                        <div class="realisation-visuel lazyloaded" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .5)), url({{ asset("realisations/" ~ creation.vignette.url) }});"></div>
                        <span class="indicator"></span>
                    </span>
                </div>
            {% endfor %}
            {% for creation in listCreations %}
                <div class="one-realisation-description" data-target="{{ creation.id }}">
                    <div class="p-3">
                        {{ creation.descriptionKey|parseHtml|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
