{% extends 'base.html.twig' %}

{% block title %}{{ 'text.prenom.nom'|trans }} - {{ 'title.technologies'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('ariane') }}
    {{ encore_entry_link_tags('technologies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('ariane') }}
    {{ encore_entry_script_tags('technologies') }}
{% endblock %}

{% block content %}
    {% include 'ariane.html.twig' with {'titles': {'languages': 'title.languages.de.developpements'|trans, 'environnements': 'title.environnements.systemes.expoitations'|trans, 'softwares': 'title.tools.softwares'|trans }} %}

    <div class="sd-rubrique bg-white pt-4 pb-4">
        <div class="row sd-section">
            <div class="col-md-12">
                <div id="languages" class="content show-in-ariane">
                    <div class="sd-circle float-left m-2 mr-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="laptop" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-laptop fa-w-20 fa-2-5x"><g class="fa-group"><path fill="currentColor" d="M528 0H112a48.14 48.14 0 0 0-48 48v336h512V48a48.14 48.14 0 0 0-48-48zm-16 320H128V64h384z" class="fa-secondary"></path><path fill="currentColor" d="M624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33-17.47-32.77-32H16a16 16 0 0 0-16 16v16a64.19 64.19 0 0 0 64 64h512a64.19 64.19 0 0 0 64-64v-16a16 16 0 0 0-16-16zM512 64H128v256h384zM289 250.34l-11.31 11.31a16 16 0 0 1-22.63 0l-58.35-58.34a16 16 0 0 1 0-22.63L255 122.34a16 16 0 0 1 22.63 0L289 133.65a16 16 0 0 1 0 22.63L253.25 192 289 227.71a16 16 0 0 1 0 22.63zm154.35-47L385 261.66a16 16 0 0 1-22.63 0L351 250.35a16 16 0 0 1 0-22.63L386.75 192 351 156.29a16 16 0 0 1 0-22.63l11.31-11.31a16 16 0 0 1 22.63 0l58.34 58.34a16 16 0 0 1 .04 22.63z" class="fa-primary"></path></g></svg>
                    </div>
                    <div class="sd-title">
                        <h5>
                            {{ 'title.languages.de.developpements'|trans }}
                        </h5>

                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/php.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.php.title'|trans }} :</h6>
                                {{ 'texte.technology.php.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/symfony.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.symfony.title'|trans }} :</h6>
                                {{ 'texte.technology.symfony.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/html-css-js.gif') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.html.css.js.title'|trans }} :</h6>
                                {{ 'texte.technology.html.css.js.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/mysql.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.mysql.title'|trans }} :</h6>
                                {{ 'texte.technology.mysql.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/java.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.java.title'|trans }} :</h6>
                                {{ 'texte.technology.java.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/flutter.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.flutter.title'|trans }} :</h6>
                                {{ 'texte.technology.flutter.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix p-3">
                            <div class="dev-plugin big-circle more-padding float-left"><img src="{{ asset('imgs/dot-net.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.dot.net.title'|trans }} :</h6>
                                {{ 'texte.technology.dot.net.description'|trans|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="environnements" class="col-md-12">
                <div class="content show-in-ariane">
                    <div class="sd-circle float-left m-2 mr-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="cubes" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-cubes fa-w-20 fa-3x"><g class="fa-group"><path fill="currentColor" d="M488.6 250.2L392 214V105.52a36 36 0 0 0-23.4-33.7l-100-37.5a35.68 35.68 0 0 0-25.3 0l-100 37.5a36 36 0 0 0-23.4 33.7V214l-96.6 36.2A36 36 0 0 0 0 283.9V394a36 36 0 0 0 19.9 32.2l100 50a35.86 35.86 0 0 0 32.2 0l103.9-52 103.9 52a35.86 35.86 0 0 0 32.2 0l100-50A36 36 0 0 0 512 394V283.9a36 36 0 0 0-23.4-33.7zM238 395.18l-85 42.5v-79.09l85-38.8zm0-112l-102 41.41L34 283.2v-.6l102-38.2 102 38.2zm-84-178.46v-.6l102-38.2 102 38.2v.6l-102 41.39zm119 73.79l85-37v73.29l-85 31.9zm205 216.67l-85 42.5v-79.09l85-38.8zm0-112l-102 41.41-102-41.39v-.6l102-38.2 102 38.2z" class="fa-secondary"></path><path fill="currentColor" d="M153 437.68l85-42.5v-75.39l-85 38.8zm240-79.09v79.09l85-42.5v-75.39zM273 246.7l85-31.9v-73.29l-85 37z" class="fa-primary"></path></g></svg>
                    </div>
                    <div class="sd-title">
                        <h5>
                            {{ 'title.environnements.systemes.expoitations'|trans }}
                        </h5>

                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle more-padding float-left"><img src="{{ asset('imgs/windows.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.windows.title'|trans }}</h6>
                                {{ 'texte.technology.windows.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/linux.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.linux.title'|trans }} :</h6>
                                {{ 'texte.technology.linux.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/android.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.android.title'|trans }} :</h6>
                                {{ 'texte.technology.android.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/apple.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.ios.title'|trans }} :</h6>
                                {{ 'texte.technology.ios.description'|trans|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="softwares" class="col-md-12">
                <div class="content show-in-ariane">
                    <div class="sd-circle float-left m-2 mr-4">
                        <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="laptop" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-laptop fa-w-20 fa-2-5x ml-1"><g class="fa-group"><path fill="currentColor" d="M464 32H48A48 48 0 0 0 0 80v80h512V80a48 48 0 0 0-48-48zm-240 96a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm96 0a32 32 0 1 1 32-32 32 32 0 0 1-32 32zm96 0a32 32 0 1 1 32-32 32 32 0 0 1-32 32z" class="fa-secondary"></path><path fill="currentColor" d="M320 128a32 32 0 1 0-32-32 32 32 0 0 0 32 32zm96 0a32 32 0 1 0-32-32 32 32 0 0 0 32 32zM0 160v272a48 48 0 0 0 48 48h416a48 48 0 0 0 48-48V160z" class="fa-primary"></path></g></svg>
                    </div>
                    <div class="sd-title">
                        <h5>
                            {{ 'title.tools.softwares'|trans }}
                        </h5>

                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle no-padding float-left"><img src="{{ asset('imgs/intelliJ.gif') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.intelliJ.title'|trans }} :</h6>
                                {{ 'texte.technology.intelliJ.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle no-padding float-left"><img src="{{ asset('imgs/androidStudio.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.androidStudio.title'|trans }} :</h6>
                                {{ 'texte.technology.androidStudio.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix gray-border-bottom p-3">
                            <div class="dev-plugin big-circle float-left"><img src="{{ asset('imgs/git.png') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.git.title'|trans }} :</h6>
                                {{ 'texte.technology.git.description'|trans|raw }}
                            </div>
                        </div>
                        <div class="technologie clearfix p-3">
                            <div class="dev-plugin big-circle no-padding float-left"><img src="{{ asset('imgs/adobe.gif') }}" alt=""></div>
                            <div class="text-justify">
                                <h6 class="mb-3">{{ 'texte.technology.adobe.title'|trans }} :</h6>
                                {{ 'texte.technology.adobe.description'|trans|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
